.sra_login_page {
  background: url($sra-global-icon-url + "login_bg1.jpg") no-repeat center;
  background-color: #fff;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;

  .sra_login_page_header {
    height: 90px;
    background: rgba(255, 255, 255, .85);

    .sra_login_page_header_left_container {
      width: 1024px;
      height: 60px;
      margin: auto;
      padding-top: 15px;
      img {
        height: 60px;
      }
      .sra_login_page_header_left_text {
        font-size: 22px;
        height: 60px;
        line-height: 60px;
        margin-left: 20px;
      }
    }
  }

  .sra_login_page_middle_container {
    //height: calc(100vh - 90px);
    height: calc(100% - 90px);
    min-height: 400px;
    position: relative;

    .sra_login_page_login_part {
      width: 380px;
      height: 340px;
      background-color: rgba(255, 255, 255, .95);
      position: absolute;
      right: 100px;
      top: 50%;
      margin-top: -170px;
      border-radius: 3px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);

      .sra_login_page_login_part_header {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        font-size: 16px;
        font-weight: $sra-global-font-weight-bold;
        box-shadow: 0 0 3px rgba(0, 0, 0, .5);
      }

      .sra_login_page_login_part_content {
        padding: 20px 20px;
        .sra_login_page_login_part_content_input_container {
          height: 42px;
          border: 1px solid #DDDDDD;
          margin: 20px 0;
          .sra_login_icon {
            background: #DDDDDD;
            height: 40px;
            line-height: 40px;
            width: 40px;
          }
          .sra_login_input {
            height: 40px;
            line-height: 40px;
            border: none;
            width: calc(100% - 40px);
            padding: 0 10px;
          }
        }
      }
    }
  }
}